<div [formGroup]="form" class="flex flex-col gap-2 md:w-3xl">
  <h1>Ajouter une formation au catalogue</h1>

  <mat-form-field>
    <mat-label>Titre</mat-label>
    <input matInput formControlName="title" placeholder="Titre de la formation"/>
    @if (isTitleTooLong()) {
      <mat-error>Titre trop long - max 100 caractères</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Lieu</mat-label>
    <input matInput formControlName="location" placeholder="Lieu"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput formControlName="date" [matDatepicker]="picker">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Horaire</mat-label>
    <mat-select formControlName="time">
      <mat-option value="18:00 - 21:00">18:00 - 21:00</mat-option>
      <mat-option value="14:00 - 17:00">14:00 - 17:00</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Prix (€)</mat-label>
    <input matInput type="number" formControlName="price" placeholder="200" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Places maximum</mat-label>
    <input matInput type="number" formControlName="placeMax" placeholder="30" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" placeholder="Description"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tags</mat-label>
    <input matInput formControlName="tags" placeholder="Tags"/>
    <mat-hint>Tags séparés par une virgule</mat-hint>
  </mat-form-field>

  <button type="submit" (click)="addFormation()" mat-button [disabled]="!form.valid">
    Ajouter
  </button>
</div>
