<h1>{{ formation().title }}</h1>
<div class="flex flex-col gap-2 p-4">
  <div class="flex gap-2">
    <div class="font-bold">Lieu :</div>
    <div>{{ formation.location }}</div>
  </div>
  <div class="flex gap-2">
    <div class="font-bold">Date :</div>
    <div>{{ formation.date | date: 'dd/MM/yyyy' }}</div>
    <div class="font-bold">Prix :</div>
    <p>{{formation.price}}</p>
  </div>
  <p>{{ formation.description }}</p>
  <app-formation-tags [tags]="formation.tags"></app-formation-tags>
</div>
